body {
  background: #413C58;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  background: #FEF5ED;
  box-shadow: 3px 4px 9px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 32px;
}