@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


*{
  font-family: 'Gowun Dodum', sans-serif;
}

body {
  margin: 0;
  padding : 0;
  background-image: url( "img/sky2.png" );
}



